{
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "quotes": [2, "single"],
    "react/jsx-uses-react": 2,
    "no-undef": "warn",
    "no-undefined": "warn",
    "no-unused-vars": "warn"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "arguments": true
  }
}
