.todo-item {
  width: 100%;
  border-radius: 0.5rem;
}
.completed {
  font-style: italic;
  color: var(--text-grayed);
  text-decoration: line-through;
}
.todo-item-date {
}
.todo-item input[type='checkbox'] {
  cursor: pointer;
  width: 0.9rem;
  height: 0.9rem;
}
.upcoming-mark {
  position: absolute;
  left: 0;
  color: var(--red);
}
.upcoming-mark svg {
  transform: translate(-100%, 25%);
}
.upcoming-mark:hover {
  cursor: pointer;
}
